name: Docker image
on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'
jobs:
  build:
    name: Build & push docker image
    runs-on: ${{ matrix.os }}

    strategy:
        fail-fast: false
        matrix:
          psql: [15]
          postgis: [3.4]
          mobilitydb: [1.1]
          os: [ubuntu-latest]

    env:
      IMG_NAME: ${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.0.0

      - name: Info
        run: echo "Parameters. ${{ github.event.base_ref }}, ${{ github.ref_type }}, ${{ github.ref }}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: mobilitydb/mobilitydb:${{ matrix.psql }}-${{ matrix.postgis }}-${{ matrix.mobilitydb }}-BerlinMOD
          build-args: |
            POSTGRES_VERSION=${{ matrix.psql }}
            POSTGIS_VERSION=${{ matrix.postgis }}
            MOBILITYDB_VERSION=${{ matrix.mobilitydb }}
